<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Huchteman Design</title>
    <link rel="stylesheet" href="../Skeleton-2.0.4/css/normalize.css">
    <link rel="stylesheet" href="../Skeleton-2.0.4/css/skeleton.css">
    <link rel="stylesheet" href="../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>

<body>
    <p class="name" class="u-pull-left"><a href="/">JANET <b>HUCHTEMAN</b></a></p>
    <div class="nav">
        <!--            <img src="images/Huchteman_logo.png" />-->
        <a href="/about"> ABOUT</a>
        <a href="/projects"> PROJECTS</a>
        <a href="/resume"> RESUME</a>
        <a href="/contact"> CONTACT</a>
    </div>
    <!--    </div>-->
    <div class="container-fluid">
        {{{body}}}
    </div>



    <footer><font size="1">&nbsp;&nbsp;&nbsp;&nbsp;Copyright 2016 All rights reserved | Huchteman Design</font></footer>


    <script src="../js/script.js"></script>
</body>

</html>