<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Huchteman Design</title>
    <link rel="stylesheet" href="Skeleton-2.0.4/css/normalize.css">
    <link rel="stylesheet" href="Skeleton-2.0.4/css/skeleton.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
           <div class="row">
              <br>
               <p class="u-pull-right float:right" class="name" class="main"> <a href="https://./about"> ABOUT</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="https://www.janet-huchteman.squarespace.com"> PROJECTS</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="https://janet-huchteman.squarespace.com/resume/"> RESUME</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="https://janet-huchteman.squarespace.com/resume/"> CONTACT</a></p></div></div>{{{body}}}
        
        <div class="container">
           <div class="row" class= "footer">
               <p><font size="1">Copyright 2016 All rights reserved. | Huchteman Design</font></p></div></div> {{{footer}}}
</body>
</html>