<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Huchteman Design</title>
    <link rel="stylesheet" href="Skeleton-2.0.4/css/normalize.css">
    <link rel="stylesheet" href="Skeleton-2.0.4/css/skeleton.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="row">
        <headerLogo><img src="images/Huchteman_logo.png" />
            <div class="nav"> <a href="https://./about"> ABOUT</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="https://www.janet-huchteman.squarespace.com"> PROJECTS</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="https://janet-huchteman.squarespace.com/resume/"> RESUME</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="https://janet-huchteman.squarespace.com/resume/"> CONTACT</a>
                <u-pull-right></div>
        </div>
        <div class="container">

        </div>{{{body}}}

        <div>
            <div class="row">
                <footer><font size="1">&nbsp;&nbsp;&nbsp;&nbsp;Copyright 2016 All rights reserved | Huchteman Design</font></footer>
            </div>
        </div> {{{footer}}}
</body>

</html>