<div class="container">
    <!--    <br>-->

    <div class="row">
        <div class="two columns">
<!--            <p class="main">-->
                <div>
                    <a href="#"><img src="images/JHuchteman_thumb.jpg" alt="Profile Picture" class="u-img-responsive" /></a>
                </div>
                <br>
        </div>

        <div class="one column">
        </div>
        <div class="row ">
            <div class="nine columns ">
                <p class="main">Having worked in the oil and gas industry for most of my career as a member of an internal Corporate Communications department, I've gained a wealth of knowledge from co-workers with writing and PR backgrounds &mdash; everything from crisis communications and employee engagement, to writing and editing. </p>

                <p class="main ">My role as senior graphic designer has given me the opportunity to develop skills in <a href="http://www.pmi.org/About-Us/About-Us-What-is-Project-Management.aspx ">project management</a>, including managing workloads, and prioritizing and communicating tasks for multiple projects across teams and other stakeholders. I have learned to prioritize jobs impacting the bottom line, while also managing other demands on my time. </p>
                <p class="main ">I'm experienced <a href="https://en.wikipedia.org/wiki/Cross-functional_team ">working with diverse cross-functional teams </a>within a company &mdash; teams within IT, business development, human resources, investor relations and more. Each group tends to have its own idiosyncrasies that I've learned to work with. For example, I'm very cognizant of diversity, and if I were designing annual enrollment collateral for HR or a recruiting brochure, I know to include a diverse mix of people photos that include different races, ages and professions represented in the printed pieces.</p>
                <p class="main ">I've also helped clients with strategy for annual events and communications. I have experience with planning tradeshows, as well as creating the supporting collateral, which includes design, production and coordination of printing for the different pieces from start to finish, as well as ordering transport cases, literature racks, booth graphics and whatever the needs may be for a particular event.</p>
                <p>In addition to graphic design and marketing communications skills, I have experience with website content management using Umbraco CMS. In my most recent position, I was responsible for updating the company's external website, as well as posting videos, press releases, presentations and more.</p>
            </div>

        </div>



        <br>
    </div>
</div>