<div class="container">
    <!--    <br>-->

    <div class="row">
        <div class="two columns">
<!--            <p class="main">-->
                <div>
                    <a href="#"><img src="images/JHuchteman_thumb.jpg" alt="Profile Picture" class="u-img-responsive" /></a>
                </div>
                <br>
        </div>

        <div class="one column">
        </div>
        <div class="row ">
            <div class="nine columns main">
               Hello.<br><br>

I'm Janet Huchteman. I've spent most of my career working as a graphic designer and communications professional for an oil and gas company. I'm a proven talent with a flair for design and an eye for detail – a creative, conscientious and dependable team player.<br><br>

I've enjoyed living in Colorado for the past 11 years, and though I may not be a native, I feel like I am. I'm inspired by the Rocky Mountains, Colorado sunsets, wildflowers, wildlife and awesome views. I get my day going with an extra-hot latte – non-fat, no foam, with cinnamon powder on top, please!<br><br>
               
                As a corporate designer in the oil and gas industry for most of my career, I have experience working in Corporate Communications and I've gained a wealth of knowledge from co-workers with writing and PR backgrounds &mdash; everything from crisis communications and employee engagement, to writing and editing. <br><br>

                My role as senior graphic designer and communications specialist has given me the opportunity to develop skills in  project management, including prioritizing and communicating tasks for multiple projects across teams and other stakeholders. I've learned to prioritize jobs impacting the bottom line, while also managing other demands on my time. I'm experienced collaborating with diverse cross-functional teams within a company &mdash; teams within IT, business development, human resources, investor relations and more.<br><br>
                
                <p class="main ">I've also helped clients with strategy for annual events and communications &mdash; planning tradeshows, creating supporting collateral from start to finish, or whatever the needs may be for a particular event.<br><br>
                
                In addition to graphic design and marketing communications skills, I have experience with website content management using Umbraco CMS. I've just recently completed a 10-week, full-time full-stack web development bootcamp, and I'm currently looking for a position as a front-end developer or senior creative.<br><br>

When I'm not at the computer working on my latest design challenge, you can usually find me outdoors gardening, hiking or reading a good book. Life is good.
            </div>
                     <div class="projectsRow">Hello</div>
        </div>



        <br>
    </div>
</div>