<div class="container">
    <form action="https://formspree.io/janethuchteman@gmail.com"
      method="POST">
        
        <input type="text" name="name" placeholder="Name">
        <br>
        <input type="email" name="_replyto" placeholder="Email">
        
        <br>
        <input type="text" name="email-text" placeholder="Write something here">
        
        <br>
        <input type="submit" value="send">
        <br>

    </form>
             <div class="projectsRow"></div>

</div>