<body>
    <div class="container-fluid">

        <!--            Below section is the first row of four images-->

        <div class="container-fluid  fadein">
            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/mlk_illus.png" alt="MLK graphic" class="u-img-responsive" />
                    <a href="/misc/mlk_tshirt">
                        <div class="item_hover">
                            <div class="category_title">SHIRT GRAPHIC</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Graphic designed for sweatshirt worn in MLK Day parade. ></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/Camp_Fire_Brochure.jpg" alt="Camp Fire USA brochure" class="u-img-responsive" />
                    <a href="/brochures/campfire_broch">
                        <div class="item_hover">
                            <div class="category_title">CAMP FIRE BROCHURE</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Pro bono brochure designed while serving on Camp Fire&rsquo;s PR committee. ></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/Minuteman_Logo.png" alt="Minuteman logo" class="u-img-responsive" />
                    <a href="/logos/minuteman_logos">
                        <div class="item_hover">
                            <div class="category_title">LOGO DESIGN</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Logo designed for an exploratory drilling project. ></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/WPX_Annual_Report2013.jpg" alt="WPX annual report" class="u-img-responsive" />
                    <a href="/annuals/WPX_annual">
                        <div class="item_hover">
                            <div class="category_title">WPX ANNUAL REPORT</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>10k wrap for WPX&rsquo;s 2013 report to its shareholders. ></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!--            Below section is the second row of four images-->

        <div class="container-fluid  fadein">
            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/WPX_Picnic_Tee.jpg" alt="WPX picnic tee" class="u-img-responsive">
                    <a href="/misc/wpx_tshirt">
                        <div class="item_hover">
                            <div class="category_title">PICNIC T-SHIRT</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>T-shirt created for a WPX employee event. ></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/RigMosaicInvite.jpg" alt="Rig mosaic graphic" class="u-img-responsive" />
                    <a href="/invitations/rigmosaic_invite">
                        <div class="item_hover">
                            <div class="category_title">INVITATION DESIGN</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Invitation for an art unveiling at Williams&rsquo; headquarters. ></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/Health_Care_Broch.jpg" alt="Healthcare brochure" class="u-img-responsive">
                    <a href="/brochures/annual_enrollment">
                        <div class="item_hover">
                            <div class="category_title">BENEFITS ENROLLMENT</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Benefits brochure created for Williams&rsquo; employees. ></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/World_Challenge_Invite.jpg" alt="World Challenge invitation" class="u-img-responsive" />
                    <a href="/invitations/worldchallenge_invite">
                        <div class="item_hover">
                            <div class="category_title">EVENT PROMOTION</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Invitation designed for the Williams World Challenge. ></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!--            Below section is the third row of four images-->

        <div class="container-fluid  fadein">
            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/St_Patricks_Day_5k.png" alt="St. Patrick's Day 5k logo" class="u-img-responsive" />
                    <a href="/logos/stpats5k_logos">
                        <div class="item_hover">
                            <div class="category_title">LOGO DESIGN</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Logo created for a 5k race. ></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/Tradeshow1.jpg" alt="Tradeshow Displays" class="u-img-responsive" />
                    <a href="/misc/wpx_tradeshow">
                        <div class="item_hover">
                            <div class="category_title">TRADESHOW DISPLAY</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Lightweight display designed for Williams&rsquo; Midstream group. ></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/PacCon_logo.png" alt="Pacific Connector Gas Pipeline logo" class="u-img-responsive" />
                    <a href="/logos/pacific_logos">
                        <div class="item_hover">
                            <div class="category_title">LOGO DESIGN</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Logo created at Williams for a proposed gas pipeline project. ></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/Vehicle_Wrap.jpg" alt="WPX vehicle wrap" class="u-img-responsive" />
                    <a href="/misc/wpx_vehiclewrap">
                        <div class="item_hover">
                            <div class="category_title">WPX VEHICLE WRAP</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Truck graphics showcasing WPX brand after spinoff. ></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>



    <!--Code below is the first version of images made with columns - Test 1-->


    <!--
    <div class="container-fluid">
        <div class="twelve columns">
        </div>
        <div class="row">
            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/mlk_illus.png" alt="MLK graphic" class="u-img-responsive fadein" />
                    <a href="/misc/mlk_tshirt">
                        <div class="item_hover">
                            <div class="category_title">SHIRT GRAPHIC</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Graphic designed for sweatshirt worn in MLK Day parade. ></div>
                        </div>
                    </a>
                </div>
-->

    <!-- This item expand has the tl class, which makes it expand from the top left -->
    <!--
                <div class="item_expand tl">
                    <img src="images/mlk_illus.png" alt="MLK graphic" class="u-img-responsive" />
                </div>
-->


    <!--
                <div class="item_container" tabindex="0">
                    <img src="images/WPX_Picnic_Tee.jpg" alt="WPX picnic tee" class="u-img-responsive">
                    <a href="/misc/wpx_tshirt">
                        <div class="item_hover">
                            <div class="category_title">PICNIC T-SHIRT</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>T-shirt design created for employee event at Tulsa&rsquo;s Driller Stadium. ></div>
                        </div>
                    </a>
                </div>
-->

    <!-- This item expand has the tl class, which makes it expand from the top left -->
    <!--
                <div class="item_expand bl">
                    <img src="images/WPX_Picnic_Tee.jpg" alt="WPX picnic tee" class="u-img-responsive" />
                </div>
-->


    <!--
                <div class="item_container" tabindex="0">
                    <img src="images/St_Patricks_Day_5k.png" alt="St. Patrick's Day 5k logo" class="u-img-responsive" />
                    <a href="/logos/stpats5k_logos">
                        <div class="item_hover">
                            <div class="category_title">LOGO DESIGN</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Logo created for a 5k race. ></div>
                        </div>
                    </a>
                </div>
            </div>
-->
    <!-- This item expand has the tl class, which makes it expand from the top left -->
    <!--
                <div class="item_expand bl">
                    <img src="images/StPatricksDay5k_med.jpg" alt="St. Patrick's Day 5k logo" class="u-img-responsive" />
                </div>
-->




    <!--
            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/Camp_Fire_Brochure.jpg" alt="Camp Fire USA brochure" class="u-img-responsive" />
                    <a href="/brochures/campfire_broch">
                        <div class="item_hover">
                            <div class="category_title">CAMP FIRE BROCHURE</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Pro bono brochure designed while serving on Camp Fire&rsquo;s PR committee. ></div>
                        </div>
                    </a>
                </div>
-->

    <!-- This item expand has the tl class, which makes it expand from the top left -->
    <!--
                <div class="item_expand tl">
                    <img src="images/Tradition_brochure_med.jpg" alt="A Tradition America Can Count On brochure" class="u-img-responsive" />
                </div>
-->



    <!--
                <div class="item_container" tabindex="0">
                    <img src="images/RigMosaicInvite.jpg" alt="Rig mosaic graphic" class="u-img-responsive" />
                    <a href="/invitations/rigmosaic_invite">
                        <div class="item_hover">
                            <div class="category_title">INVITATION DESIGN</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Invitation designed for an art unveiling at Williams&rsquo; headquarters. ></div>
                        </div>
                    </a>
                </div>
-->
    <!-- This item expand has the tl class, which makes it expand from the top left -->
    <!--
                <div class="item_expand bl">
                    <img src="images/RigMosaicInvite.jpg" alt="Rig mosaic graphic" class="u-img-responsive" />
                </div>
-->


    <!--
                <div class="item_container" tabindex="0">
                    <img src="images/Tradeshow1.jpg" alt="Tradeshow Displays" class="u-img-responsive" />
                    <a href="/misc/wpx_tradeshow">
                        <div class="item_hover">
                            <div class="category_title">TRADESHOW DISPLAY</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Lightweight display designed for Williams&rsquo; Midstream group. ></div>
                        </div>
                    </a>
-->
    <!-- This item expand has the tl class which makes it expand from the top left -->
    <!--
                <div class="item_expand tl">
                    <img src="images/Tradeshow1.jpg" alt="Tradeshow Displays" class="u-img-responsive" />
                </div>
-->
    <!--
                </div>
            </div>

            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/Minuteman_Logo.png" alt="Minuteman logo" class="u-img-responsive" />
                    <a href="/logos/minuteman_logos">
                        <div class="item_hover">
                            <div class="category_title">LOGO DESIGN</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Logo designed for an exploratory drilling project. ></div>
                        </div>
                    </a>
                </div>
-->

    <!-- This item expand has the tl class which makes it expand from the top left -->
    <!--
                <div class="item_expand tl">
                    <img src="images/Minuteman_Logo.jpg" alt="Minuteman logo" class="u-img-responsive" />
                </div>
-->

    <!--
                <div class="item_container" tabindex="0">
                    <img src="images/Health_Care_Broch.jpg" alt="Healthcare brochure" class="u-img-responsive">
                    <a href="/brochures/annual_enrollment">
                        <div class="item_hover">
                            <div class="category_title">BENEFITS ENROLLMENT</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Benefits brochure created for Williams&rsquo; employees. ></div>
                        </div>
                    </a>
                </div>
-->

    <!-- This item expand has the tl class which makes it expand from the top left -->
    <!--
                <div class="item_expand tl">
                    <img src="images/Health_Care_Broch.jpg" alt="Healthcare brochure" class="u-img-responsive" />
                </div>
-->

    <!--
                <div class="item_container" tabindex="0">
                    <img src="images/PacCon_logo.png" alt="Pacific Connector Gas Pipeline logo" class="u-img-responsive" />
                    <a href="/logos/pacific_logos">
                        <div class="item_hover">
                            <div class="category_title">LOGO DESIGN</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Logo created at Williams for a proposed gas pipeline project. ></div>
                        </div>
                    </a>
-->

    <!-- This item expand has the tl class which makes it expand from the top left -->
    <!--
                <div class="item_expand tl">
                    <img src="images/MS150_TeamWms.png" alt="Team Williams logo" class="u-img-responsive" />
                </div>
-->
    <!--
                </div>
            </div>

            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/WPX_Annual_Report2013.jpg" alt="WPX annual report" class="u-img-responsive" />
                    <a href="/annuals/WPX_annual">
                        <div class="item_hover">
                            <div class="category_title">WPX ANNUAL REPORT</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>10k wrap for WPX&rsquo;s 2013 report to its shareholders. ></div>
                        </div>
                    </a>
                </div>
-->

    <!-- This item expand has the tr class, which makes it expand from the top right -->
    <!--
                <div class="item_expand tr">
                    <img src="images/WPX_Annual_Report2013.jpg" alt="WPX annual report" class="u-img-responsive" />
                </div>
-->

    <!--
                <div class="item_container" tabindex="0">
                    <img src="images/World_Challenge_Invite.jpg" alt="World Challenge invitation" class="u-img-responsive" />
                    <a href="/invitations/worldchallenge_invite">
                        <div class="item_hover">
                            <div class="category_title">EVENT PROMOTION</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Invitation designed for the Williams World Challenge. ></div>
                        </div>
                    </a>
                </div>
-->

    <!-- This item expand has the tr class, which makes it expand from the top right -->
    <!--
                <div class="item_expand tr">
                    <img src="images/World_Challenge_Invite.jpg" alt="World Challenge invitation" class="u-img-responsive" />
                </div>
-->

    <!--
                <div class="item_container" tabindex="0">
                    <img src="images/Vehicle_Wrap.jpg" alt="WPX vehicle wrap" class="u-img-responsive" />
                    <a href="/misc/wpx_vehiclewrap">
                        <div class="item_hover">
                            <div class="category_title">WPX VEHICLE WRAP</div>
                            <hr class="homepage_hr">
                            <div class="category_text">
                                <p></p>Invitation designed for an art unveiling at Williams&rsquo; headquarters. ></div>
                        </div>
                    </a>
                </div>
-->

    <!-- This item expand has the br class, which makes it expand from the bottom right -->
    <!--
                <div class="item_expand br">
                    <img src="images/Vehicle_Wrap.jpg" alt="WPX vehicle wrap" class="u-img-responsive" />
                </div>
-->

    <!--
            </div>
            <br>
        </div>
    </div>-->