<!-- Primary Page Layout
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container-fluid">
    <!--    <div class="row">-->
    <div class="twelve columns">

        <!--
            <h4><center>Marketing, creative &amp; web development</center></h4>
            <p>
                <center>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</center>
            </p>
-->
    </div>

    <!--    </div>-->

    <div class="row">
        <!--
        <div class="three columns" class="u-center float: center">
            <img src="images/Huchteman_icon.png" class="u-img-responsive">

            <br><a href="#">PROJECTS</a>
            <br><a href="#">Advertising</a>
            <br><a href="#">Annual Reports</a>
            <br><a href="#">Brochures</a>
            <br><a href="#">Digital/Web</a>
            <br><a href="#">Identity</a>
            <br><a href="#">Invitations</a>
            <br><a href="#">Miscellaneous</a>
            <br><a href="#">Signage</a>
            <br><a href="#">Trade Shows</a>
        </div>
-->
        <div class="three columns">
            <div class="item_container" tabindex="0">
               
                <img src="images/mlk_illus.png" alt="MLK graphic" class="u-img-responsive" />
                <a href="/projects/mlk_tshirt">
                <div class="item_hover"></div></a>

                <!-- This item expand has the tl class which makes it expand from the top left -->
<!--
                <div class="item_expand tl">
                    <img src="images/mlk_illus.png" alt="MLK graphic" class="u-img-responsive" />
                </div>
-->
            </div>
            <div class="item_container" tabindex="0">
                <img src="images/StPatricksDay5k_med.jpg" alt="St. Patrick's Day 5k logo" class="u-img-responsive" />
                <div class="item_hover"></div>
                <!-- This item expand has the tl class which makes it expand from the top left -->
<!--
                <div class="item_expand bl">
                    <img src="images/StPatricksDay5k_med.jpg" alt="St. Patrick's Day 5k logo" class="u-img-responsive" />
                </div>
-->
            </div>

            <div class="item_container" tabindex="0">
                <img src="images/MS150_TeamWms.png" alt="Team Williams logo" class="u-img-responsive" />
                <div class="item_hover"></div>
                <!-- This item expand has the tl class which makes it expand from the top left -->
<!--
                <div class="item_expand tl">
                    <img src="images/MS150_TeamWms.png" alt="Team Williams logo" class="u-img-responsive" />
                </div>
-->
            </div>
        </div>

        <div class="three columns">
            <div class="item_container" tabindex="0">
                <img src="images/Tradeshow1.jpg" alt="Tradeshow Displays" class="u-img-responsive" />
                <div class="item_hover"></div>
                <!-- This item expand has the tl class which makes it expand from the top left -->
<!--
                <div class="item_expand tl">
                    <img src="images/Tradeshow1.jpg" alt="Tradeshow Displays" class="u-img-responsive" />
                </div>
-->
            </div>
            <div class="item_container" tabindex="0">
                <img src="images/RigMosaicInvite.jpg" alt="Rig mosaic graphic" class="u-img-responsive" />
                <div class="item_hover"></div>
                <!-- This item expand has the tl class which makes it expand from the top left -->
<!--
                <div class="item_expand bl">
                    <img src="images/RigMosaicInvite.jpg" alt="Rig mosaic graphic" class="u-img-responsive" />
                </div>
-->
            </div>
            <div class="item_container" tabindex="0">
                <img src="images/Tradition_brochure_med.jpg" alt="A Tradition America Can Count On brochure" class="u-img-responsive" />
                <div class="item_hover"></div>
                <!-- This item expand has the tl class which makes it expand from the top left -->
<!--
                <div class="item_expand tl">
                    <img src="images/Tradition_brochure_med.jpg" alt="A Tradition America Can Count On brochure" class="u-img-responsive" />
                </div>
-->
            </div>

        </div>

        <div class="three columns">
            <div class="item_container" tabindex="0">
                <img src="images/Minuteman_Logo.jpg" alt="Minuteman logo" class="u-img-responsive" />
                <div class="item_hover tl"></div>
                <!-- This item expand has the tl class which makes it expand from the top left -->
<!--
                <div class="item_expand tl">
                    <img src="images/Minuteman_Logo.jpg" alt="Minuteman logo" class="u-img-responsive" />
                </div>
-->
            </div>
            <div class="item_container" tabindex="0">
                <img src="images/Health_Care_Broch.jpg" alt="Healthcare brochure" class="u-img-responsive">
                <div class="item_hover tl"></div>
                <!-- This item expand has the tl class which makes it expand from the top left -->
<!--
                <div class="item_expand tl">
                    <img src="images/Health_Care_Broch.jpg" alt="Healthcare brochure" class="u-img-responsive" />
                </div>
-->
            </div>
            <div class="item_container" tabindex="0">
                <img src="images/WPX_Picnic_Tee.jpg" alt="WPX picnic tee" class="u-img-responsive">
                <div class="item_hover bl"></div>
                <!-- This item expand has the tl class which makes it expand from the top left -->
<!--
                <div class="item_expand bl">
                    <img src="images/WPX_Picnic_Tee.jpg" alt="WPX picnic tee" class="u-img-responsive" />
                </div>
-->
            </div>
        </div>

        <div class="three columns">
            <div class="item_container" tabindex="0">
                <img src="images/WPX_Annual_Report2013.jpg" alt="WPX annual report" class="u-img-responsive" />
                <div class="item_hover tr"></div>
                <!-- This item expand has the tr class which makes it expand from the top right -->
<!--
                <div class="item_expand tr">
                    <img src="images/WPX_Annual_Report2013.jpg" alt="WPX annual report" class="u-img-responsive" />
                </div>
-->
            </div>

            <div class="item_container" tabindex="0">
                <img src="images/World_Challenge_Invite.jpg" alt="World Challenge invitation" class="u-img-responsive" />
                <div class="item_hover tr"></div>
                <!-- This item expand has the tr class which makes it expand from the top right -->
<!--
                <div class="item_expand tr">
                    <img src="images/World_Challenge_Invite.jpg" alt="World Challenge invitation" class="u-img-responsive" />
                </div>
-->
            </div>
            <div class="item_container" tabindex="0">
                <img src="images/Vehicle_Wrap.jpg" alt="WPX vehicle wrap" class="u-img-responsive" />
                <div class="item_hover br"></div>
                <!-- This item expand has the br class which makes it expand from the bottom right -->
<!--
                <div class="item_expand br">
                    <img src="images/Vehicle_Wrap.jpg" alt="WPX vehicle wrap" class="u-img-responsive" />
                </div>
-->
            </div>
        </div>
        <br>
    </div>