<body>
    <div class="container-fluid">
        <div class="twelve columns">
        </div>
        <div class="row">
            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/mlk_illus.png" alt="MLK graphic" class="u-img-responsive" />
                    <a href="/misc/mlk_tshirt">
                        <div class="item_hover  category_title">
                            <bold>SHIRT GRAPHIC</bold>
                            <hr white height="4px" width="20%" border="none" margin="0" "auto" "0" "0" align="left"> Graphic designed for sweatshirt worn in MLK Day parade. >
                        </div>
                    </a>

                    <!-- This item expand has the tl class which makes it expand from the top left -->
                    <!--
                <div class="item_expand tl">
                    <img src="images/mlk_illus.png" alt="MLK graphic" class="u-img-responsive" />
                </div>
-->
                </div>
                <div class="item_container" tabindex="0">
                    <img src="images/StPatricksDay5k_med.jpg" alt="St. Patrick's Day 5k logo" class="u-img-responsive" />
                    <a href="/logos/stpats5k_logos">
                        <div class="item_hover category_title">
                            <bold>LOGO DESIGN</bold>
                            <hr white height="4px" width="20%" border="none" margin="0" "auto" "0" "0" align="left"> Logo for a 5k race. >
                        </div>
                    </a>
                    <!-- This item expand has the tl class which makes it expand from the top left -->
                    <!--
                <div class="item_expand bl">
                    <img src="images/StPatricksDay5k_med.jpg" alt="St. Patrick's Day 5k logo" class="u-img-responsive" />
                </div>
-->
                </div>


                <div class="item_container" tabindex="0">
                    <img src="images/WPX_Picnic_Tee.jpg" alt="WPX picnic tee" class="u-img-responsive">
                    <a href="/misc/wpx_tshirt">
                        <div class="item_hover category_title">
                            <bold>PICNIC T-SHIRT</bold>
                            <hr white height="4px" width="20%" border="none" margin="0" "auto" "0" "0" align="left"> Invitation designed for an art unveiling at Williams' headquarters. >
                        </div>
                    </a>
                    <!-- This item expand has the tl class which makes it expand from the top left -->
                    <!--
                <div class="item_expand bl">
                    <img src="images/WPX_Picnic_Tee.jpg" alt="WPX picnic tee" class="u-img-responsive" />
                </div>
-->
                </div>
            </div>

            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/Camp_Fire_Brochure.jpg" alt="Camp Fire USA brochure" class="u-img-responsive" />
                    <a href="/brochures/campfire_broch">
                        <div class="item_hover category_title">
                            <bold>CAMP FIRE USA BROCHURE</bold>
                            <hr white height="4px" width="20%" border="none" margin="0" "auto" "0" "0" align="left"> Pro bono brochure designed while serving on Camp Fire's PR Committee. >
                        </div>
                    </a>
                    <!-- This item expand has the tl class which makes it expand from the top left -->
                    <!--
                <div class="item_expand tl">
                    <img src="images/Tradition_brochure_med.jpg" alt="A Tradition America Can Count On brochure" class="u-img-responsive" />
                </div>
-->
                </div>


                <div class="item_container" tabindex="0">
                    <img src="images/RigMosaicInvite.jpg" alt="Rig mosaic graphic" class="u-img-responsive" />
                    <a href="/invitations/rigmosaic_invite">
                        <div class="item_hover category_title">
                            <bold>INVITATION DESIGN</bold>
                            <hr white height="4px" width="20%" border="none" margin="0" "auto" "0" "0" align="left"> Invitation designed for an art unveiling at Williams' headquarters. >
                        </div>
                    </a>
                    <!-- This item expand has the tl class which makes it expand from the top left -->
                    <!--
                <div class="item_expand bl">
                    <img src="images/RigMosaicInvite.jpg" alt="Rig mosaic graphic" class="u-img-responsive" />
                </div>
-->
                </div>
                <div class="item_container" tabindex="0">
                    <img src="images/Tradeshow1.jpg" alt="Tradeshow Displays" class="u-img-responsive" />
                    <a href="/misc/wpx_tradeshow">
                        <div class="item_hover category_title">
                            <bold>TRADESHOW DISPLAY</bold>
                            <hr white height="4px" width="20%" border="none" margin="0" "auto" "0" "0" align="left"> Lightweight diplay designed for Williams' Midstream group. >
                        </div>
                    </a>
                    <!-- This item expand has the tl class which makes it expand from the top left -->
                    <!--
                <div class="item_expand tl">
                    <img src="images/Tradeshow1.jpg" alt="Tradeshow Displays" class="u-img-responsive" />
                </div>
-->
                </div>

            </div>

            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/Minuteman_Logo.png" alt="Minuteman logo" class="u-img-responsive" />
                    <a href="/logos/minuteman_logos">
                        <div class="item_hover category_title">
                            <bold>LOGO DESIGN</bold>
                            <hr white height="4px" width="20%" border="none" margin="0" "auto" "0" "0" align="left"> Logo designed for an exploratory drilling project. >
                        </div>
                    </a>
                    <!-- This item expand has the tl class which makes it expand from the top left -->
                    <!--
                <div class="item_expand tl">
                    <img src="images/Minuteman_Logo.jpg" alt="Minuteman logo" class="u-img-responsive" />
                </div>
-->
                </div>
                <div class="item_container" tabindex="0">
                    <img src="images/Health_Care_Broch.jpg" alt="Healthcare brochure" class="u-img-responsive">
                    <a href="/brochures/annual_enrollment">
                        <div class="item_hover category_title">
                            <bold>BENEFITS ANNUAL ENROLLMENT</bold>
                            <hr white height="4px" width="20%" border="none" margin="0" "auto" "0" "0" align="left"> Benefits brochure created for Williams' employees and retirees. >
                        </div>
                    </a>
                    <!-- This item expand has the tl class which makes it expand from the top left -->
                    <!--
                <div class="item_expand tl">
                    <img src="images/Health_Care_Broch.jpg" alt="Healthcare brochure" class="u-img-responsive" />
                </div>
-->
                </div>
                <div class="item_container" tabindex="0">
                    <img src="images/PacCon_logo.png" alt="Pacific Connector Gas Pipeline logo" class="u-img-responsive" />
                    <a href="/logos/pacific_logos">
                        <div class="item_hover category_title">
                            <bold>LOGO DESIGN</bold>
                            <hr white height="4px" width="20%" border="none" margin="0" "auto" "0" "0" align="left"> Invitation designed for an art unveiling at Williams' headquarters. >
                        </div>
                    </a>
                    <!-- This item expand has the tl class which makes it expand from the top left -->
                    <!--
                <div class="item_expand tl">
                    <img src="images/MS150_TeamWms.png" alt="Team Williams logo" class="u-img-responsive" />
                </div>
-->
                </div>
            </div>

            <div class="home_grid_column">
                <div class="item_container" tabindex="0">
                    <img src="images/WPX_Annual_Report2013.jpg" alt="WPX annual report" class="u-img-responsive" />
                    <a href="/annuals/WPX_annual">
                        <div class="item_hover category_title">
                            <bold>WPX ANNUAL REPORT</bold>
                            <hr white height="4px" width="20%" border="none" margin="0" "auto" "0" "0" align="left"> 10k wrap for WPX's 2013 report to its shareholders. >
                        </div>
                    </a>
                    <!-- This item expand has the tr class, which makes it expand from the top right -->
                    <!--
                <div class="item_expand tr">
                    <img src="images/WPX_Annual_Report2013.jpg" alt="WPX annual report" class="u-img-responsive" />
                </div>
-->
                </div>

                <div class="item_container" tabindex="0">
                    <img src="images/World_Challenge_Invite.jpg" alt="World Challenge invitation" class="u-img-responsive" />
                    <a href="/invitations/worldchallenge_invite">
                        <div class="item_hover category_title">
                            <bold>EVENT PROMOTION</bold>
                            <hr white height="4px" width="20%" border="none" margin="0" "auto" "0" "0" align="left"> Invitation designed for the Williams World Challenge. >
                        </div>
                    </a>
                    <!-- This item expand has the tr class, which makes it expand from the top right -->
                    <!--
                <div class="item_expand tr">
                    <img src="images/World_Challenge_Invite.jpg" alt="World Challenge invitation" class="u-img-responsive" />
                </div>
-->
                </div>
                <div class="item_container" tabindex="0">
                    <img src="images/Vehicle_Wrap.jpg" alt="WPX vehicle wrap" class="u-img-responsive" />
                    <a href="/misc/wpx_vehiclewrap">
                        <div class="item_hover category_title">
                            <bold>WPX VEHICLE WRAP</bold>
                            <hr white height="4px" width="20%" border="none" margin="0" "auto" "0" "0" align="left"> Invitation designed for an art unveiling at Williams' headquarters. >
                        </div>
                    </a>
                    <!-- This item expand has the br class, which makes it expand from the bottom right -->
                    <!--
                <div class="item_expand br">
                    <img src="images/Vehicle_Wrap.jpg" alt="WPX vehicle wrap" class="u-img-responsive" />
                </div>
-->
                </div>
            </div>
            <br>
        </div>