<div class="container">
    <br>
    <br>
    <br>
    <div class="twelve columns">
    </div>
    <div class="row">
        <div class="two-thirds column projectsImg">
            <img src="images/Health_Care_Broch.jpg" alt="Healthcare brochure" class="u-img-responsive" />
        </div>
        <div class="one-third column projectsCategory">
            <hr class="category_hr">
        </div>
        <ul style="list-style-type:none">
            <li><a href="/advertising/WPX_annual">Advertising</a></li>
            <li><a href="/annuals/WPX_annual">Annual Reports</a></li>
            <li><a href="/brochures/annual_enrollment">Brochures</a></li>
            <li><a href="#">Digital/Web</a></li>
            <li><a href="/logos/stpats5k_logos">Logos</a></li>
            <li><a href="/invitations/worldchallenge_invite">Invitations</a></li>
            <li><a href="/misc/mlk_tshirt">Miscellaneous</a></li>
            <li><a href="/tradeshows/wpx_tradeshow">Trade Shows</a></li>
        </ul>
        <div class="container">
        </div>
        <div class="row">
        </div>
    </div>