<!--<div class="container">-->
<div class="container">
    <br>
    <br>
    <div class="twelve columns">
    </div>
    <div class="row">
            <div class="two-thirds column" class="u-pull-left">
                <img src="{{project.image}}" class="projectsImg"  />
            </div>
                <div class="one-third column" class="projectsCategory">
                    <p>{{project.cat}}</p><h6>{{project.name}}</h6> {{project.desc}}
                </div>
            </div>
        </div>

