<div class="row resumeTop"></div>
   <div class="container">
    <!--    <div class="twelve columns">-->

    <div class="row">
        <div class="nine columns body-projects">
            <resumeHeader>Overview</resumeHeader>
            <br>
            <p>Creative marketing professional with experience in corporate communications, art direction and graphic design. Contributed to the rebranding of one of the country's leading natural gas companies and helped launch a new brand with the spinoff of its Exploration and Production business unit.</p>

            <resumeHeader>Skills</resumeHeader>
            <br>
            <p>Project management, art direction, graphic design, print collateral design, brand identity, designing for Web and social media, web content management, print buying, press checks, email marketing, copy writing, editing, consulting, negotiating, attention to detail. Well versed in both Mac and PC.
            </p>

            <resumeHeader>Expertise</resumeHeader>
            <br>
            <p> Adobe Creative Cloud (including Photoshop, Illustrator, InDesign, Acrobat, Bridge), QuarkXPress, Microsoft Office (Word, Excel, PowerPoint), Campaign Monitor, Umbraco CMS, SharePoint, Squarespace and AP Style. Learning HTML, CSS, Javascript, MondoDB/Mongoose, Handlebars, Node, Express and React.
            </p>

            <resumeHeader>Experience</resumeHeader>
            <br>
            <b>Senior Communications Specialist, WPX Energy<br>
            2012 - 2015</b>
            <p>Responsible for design, development and production of oil and gas company’s creative materials to support its business development, marketing, outreach, public relations and communication activities.</p>
            <li>Designed and developed branding graphic standards for WPX Energy to help ensure consistency of brand for both internal and external audiences. </li>
            <li>Worked with Legal department to design, produce and coordinate printing of 12,000 annual reports to investors. Managed content and execution for webcasts and other investor events; provided presentation support to Investor Relations director for quarterly earnings reports.</li>
            <li>Created content for WPX’s external website and supported ongoing development of the site, working closely with IT resources.</li>
            <li>Managed the WPX company store and its vendors to promote branding and employee engagement.</li>


            <br>
            <p><b>Communications Specialist III/Senior Graphic Designer, The Williams Companies<br>
            1989 - 2011</b>
                <br> Conceptualized and implemented design solutions within Corporate Communications department for leading energy and communications company.
                <br>

                <li>Led corporate rebranding campaign that included identity/design templates, branding standards, signage, and marketing collateral; mentored junior designers in branding efforts.</li>
                <li>Designed and produced collateral for the midstream and gas pipeline business units’ safety compliance mailing to 786,399 households/businesses. Designed trade show displays for industry conferences, recruiting events and open houses. Scheduled transportation for shipping displays to and from events.</li>
                <li>Worked with cross-functional teams within Williams and Williams Communications Group to design print collateral/web graphics (benefits enrollment materials, annual reports, newsletters, brochures, invitations).</li>
                <li>Managed client/vendor relationships, working within budget and securing competitive bids for photography, printing, outside designers/artists, signage, engraving, silk screening and promotional merchandise.</li>
                <li>Business partner for Ethics &amp; Compliance department. Collaborated with group’s director in developing communications plan to help achieve goal of 100% completion rate for employees’ annual compliance training.</li>
                <li>Served on team charged with making recommendation on the outsourcing of onsite Company Store. By partnering with external vendor for promotional merchandise (nearly $2 million/yr. in sales), slashed overhead costs by $720,000/yr. Managed relationship with promotional products company.</li>
            </p>
            <resumeHeader>Education</resumeHeader>
            <br>
            <p>Bachelor of Business Administration (Marketing Major); Northeastern State University, Tahlequah, Okla.
                <br> Commercial &amp; Advertising Art Certificate of Completion; Salina Area Technical College, Salina, Kansas</p>
            <p></p>
                     <div class="projectsRow">Hello</div>
        </div>

        <div class="one column">
        </div>
        <div class="two columns">
<!--            <hr class="category_hr">-->
            <br>
            <p class="resumeSidehead">EMAIL</p>
            <a href="mailto:janethuchteman@gmail.com">janethuchteman@gmail.com</a>
            <p></p>
            <p class="resumeSidehead">PHONE</p>
            303.217.0756
            <p></p>
            <p class="resumeSidehead">LINKEDIN</p>
            <a href="http://www.linkedin.com/in/janethuchteman">linkedin.com/in/janethuchteman</a>
            <p></p>
            <p class="resumeSidehead">GITHUB</p>
            <a href="http://www.github.com/huchjan">github.com/huchjan</a>
            <p></p>
            <p></p>
            <p></p>

        </div>
    </div>
</div>
<!--</div>-->