<div class="container">
    <br>
    <br>
    <br>
    <div class="twelve columns">
    </div>
    <div class="row">
        <div class="two-thirds column">
            <img src="/images/{{project.image}}" class="u-img-responsive projectsImg" />
        </div>
        <div class="one-third column projectsCategory">
            <hr class="category_hr">
            <br>
            <bold>{{project.cat}}</bold>
        </div>
        <h6>{{project.name}}</h6> {{project.desc}}
    </div>
</div>