body {
    background: white;
    font-family: 'Lucida Sans Unicode', 'Arial', serif;
    color: #4e4e4e;
    text-decoration: none;
    font-size: 120%;
}

h1,
h3,
h4,
header .btn {
    font-weight: 400;
}

h6,
header {
    font-weight: normal;
    font-size: 100%;
}

a:link {
    text-decoration: none;
    color: #9f9f9e;
}

normal {
    font-weight: bold;
}
.u-pull-right {
  float: right; }